<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688180703696-erp6th7519hfdb8s3o9q88op0816mau8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688180703696-erp6th7519hfdb8s3o9q88op0816mau8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ3fz2L7e1lcAuo953I4dh8S_aDocZOU0</string>
	<key>GCM_SENDER_ID</key>
	<string>688180703696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anna-Belousova.CarsList</string>
	<key>PROJECT_ID</key>
	<string>carslist-663ea</string>
	<key>STORAGE_BUCKET</key>
	<string>carslist-663ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688180703696:ios:84c1720838365cc51349d5</string>
	<key>DATABASE_URL</key>
	<string>https://carslist-663ea.firebaseio.com</string>
</dict>
</plist>